/Client code/MobileSocial/bin
/Client code/MobileSocial/gen
/Server code/MobileSocialServer/bin
/Server code/MobileSocialServer/.metadata
/Client code/MobileSocial/.classpath
/Client code/MobileSocial/project.properties
/Client code/SocialSDKLibraryProject/bin
/Client code/SocialSDKLibraryProject/gen
/Client code/SocialSDKLibraryProject/.classpath
/Client code/SocialSDKLibraryProject/project.properties

/MaintainServer/.idea/*
/MaintainServer/Display/static/download/*
/MaintainServer/Display/static/video/*

issues.txt
issues2.txt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.pyc
*.class

# Package Files #
#*.jar
#*.war
#*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
