<script type="text/javascript"
        src="static/chart/js/jquery-1.8.2.min.js"></script>
<style type="text/css">
    ${
    demo
    .css
    }
</style>
<script type="text/javascript">
	var registermonth_list = {{registermonth_list|safe}}
	$(function() {
		$('#container')
				.highcharts(
						{
							title : {
								text : '本月新注册人数',
								x : -20
							//center
							},
							xAxis : {
								categories : [ '1月', '2月', '3月',
										'4月', '5月', '6月', '7月', '8月',
										'9月', '10月', '11月' ,'12月']
							},
							yAxis : {
								title : {
									text : '人数'
								},
								plotLines : [ {
									value : 0,
									width : 1,
									color : '#808080'
								} ]
							},
							tooltip : {
								valueSuffix : '人'
							},
							legend: {
           					 layout: 'vertical',
         					   align: 'right',
       						     verticalAlign: 'middle',
        					    borderWidth: 0
     						   },
							series : [
									{
										name: '本月新注册人数',
										data : registermonth_list
									} ,]
						});
	});
</script>

<div id="container"
     style="min-width: 310px; height: 400px; margin: 0 auto"></div>