<script type="text/javascript" src="static/chart/js/jquery-1.8.2.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
		var dict = {{ sexDict|safe }};
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '性别分布'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%<br>人数：{point.y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "性别分布",
            colorByPoint: true,
            colors:['#0099ff','#ff6666'],
            data: [{
                name: "男",
                y: dict.male
            }, {
                name: "女",
                y: dict.female
            }]
        }]
    });
});
		</script>
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>