{% extends 'Display/base/page_base.html' %}

{% block content %}
<div class='text-center'>
    <video width="1104" height="622"  autoplay="autoplay" loop="loop">
        <source src="static/video/video.mp4" type="video/mp4" >Mystery宣传视频</source>
        您的浏览器不支持video标签
    </video>
</div>

<div class='group-header'>
    <div class='row-fluid'>
        <div class='span6 offset3'>
            <div class='text-center'>
                <font size="6">
                    <a href="static/download/MobileSocial.apk" >点击这里下载APP</a>
                </font>
            </div>
        </div>
    </div>
</div>
{% endblock %}