<title>解密陌生人运营管理系统</title>
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'/>
<link href="static/page/picture/css/bootstrap.min.css" rel="stylesheet"/>
<link href="static/page/picture/css/bootstrap-responsive.min.css" rel="stylesheet"/>
<link href="static/page/picture/css/retina.css" rel="stylesheet"/>
<link href="static/page/picture/css/style.min.css" rel="stylesheet"/>
<script src='static/page/assets/javascripts/html5shiv.js' type='text/javascript'></script>
<link href='static/page/assets/stylesheets/bootstrap/bootstrap.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/bootstrap/bootstrap-responsive.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/jquery_ui/jquery-ui-1.10.0.custom.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/jquery_ui/jquery.ui.1.10.0.ie.css' media='all' rel='stylesheet'  type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/bootstrap_switch/bootstrap-switch.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/xeditable/bootstrap-editable.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/common/bootstrap-wysihtml5.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/common/bootstrap-wysihtml5.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/jquery_fileupload/jquery.fileupload-ui.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/fullcalendar/fullcalendar.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/select2/select2.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/mention/mention.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/tabdrop/tabdrop.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/jgrowl/jquery.jgrowl.min.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/datatables/bootstrap-datatable.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/dynatree/ui.dynatree.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/bootstrap_colorpicker/bootstrap-colorpicker.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/bootstrap_datetimepicker/bootstrap-datetimepicker.min.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/bootstrap_daterangepicker/bootstrap-daterangepicker.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/flags/flags.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/slider_nav/slidernav.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/plugins/fuelux/wizard.css' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/light-theme.css' id='color-settings-body-color' media='all' rel='stylesheet' type='text/css'/>
<link href='static/page/assets/stylesheets/demo.css' media='all' rel='stylesheet' type='text/css'/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>