<nav class='' id='main-nav'>
    <div class='navigation'>
        <ul class='nav nav-stacked'>
            <li class={{home_active}}>
                <a href='/'>
                    <i class='icon-home'></i>
                    <span>主页</span>
                </a>
            </li>

            <li class="{{online_active}}">
                <a class='dropdown-collapse ' href='#'>
                    <i class='icon-mobile-phone'></i>
                    <span>在线人数</span>
                    <i class='icon-angle-down angle-down'></i>
                </a>
                <ul class="{{online_stack}}">
                    <li class={{realtimeonline_active}}>
                        <a href='subview?pageName=RealTimeOnline'>
                            <i class='icon-group'></i>
                            <span>实时在线人数</span>
                        </a>
                    </li>
                    <li class={{perhouronline_active}}>
                        <a href='subview?pageName=PerHourOnline'>
                            <i class='icon-h-sign'></i>
                            <span>每小时在线人数</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{{distribution_active}}">
                <a class='dropdown-collapse ' href='#'>
                    <i class='icon-bar-chart'></i>
                    <span>分布统计</span>
                    <i class='icon-angle-down angle-down'></i>
                </a>
                <ul class="{{distribution_stack}}">
                    <li class={{sex_active}}>
                        <a href='subview?pageName=SexStatistics'>
                            <i class='icon-user'></i>
                            <span>性别统计</span>
                        </a>
                    </li>
                    <li class={{age_active}}>
                        <a href='subview?pageName=AgeDistribution'>
                            <i class='icon-time'></i>
                            <span>年龄分布</span>
                        </a>
                    </li>
                    <li class={{map_active}}>
                        <a href='subview?pageName=MapDistribution'>
                            <i class='icon-globe'></i>
                            <span>地域分布</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{{statistics_active}}">
                <a class='dropdown-collapse ' href='#'>
                    <i class='icon-align-left'></i>
                    <span>累计统计</span>
                    <i class='icon-angle-down angle-down'></i>
                </a>
                <ul class="{{statistics_stack}}">
                    <li class={{register_active}}>
                        <a href='subview?pageName=RegisterDayPage'>
                            <i class='icon-smile'></i>
                            <span>新注册人数统计</span>
                        </a>
                    </li>
                    <li class={{zombiereturn_active}}>
                        <a href='subview?pageName=ZombieReturnDayPage'>
                            <i class='icon-meh'></i>
                            <span>僵尸用户回归人数统计</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class=''>
                <a href='#'>
                    <i class='icon-book'></i>
                    <span>新功能正在开发中...</span>
                </a>
            </li>
            <li class=''>
                <a href='#'>
                    <i class='icon-cog'></i>
                    <span>新功能正在开发中...</span>
                </a>
            </li>
            <li class=''>
                <a href='#'>
                    <i class='icon-external-link-sign'></i>
                    <span>新功能正在开发中...</span>
                </a>
            </li>
            <li class=''>
                <a href='#'>
                    <i class='icon-calendar'></i>
                    <span>新功能正在开发中...</span>
                </a>
            </li>
        </ul>
    </div>
</nav>