<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container-fluid'>
            <a class='brand' href=''>
                <i class='icon-heart-empty'></i>
                <span class='hidden-phone'>Mystery</span>
            </a>
            <a class='toggle-nav btn pull-left' href='#'>
                <i class='icon-reorder'></i>
            </a>
            <ul class='nav pull-right'>
                <li class='dropdown light only-icon'>
                    <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                        <i class='icon-adjust'></i>
                    </a>
                    <ul class='dropdown-menu color-settings'>
                        <li class='color-settings-contrast-color'>
                            <div class='color-title'>Contrast color</div>
                            <a href="#" data-change-to="contrast-red"><i class='icon-adjust text-red'></i>
                                Red
                                <small>(default)</small>
                            </a>
                            <a href="#" data-change-to="contrast-blue"><i class='icon-adjust text-blue'></i>
                                Blue
                            </a>
                            <a href="#" data-change-to="contrast-orange"><i class='icon-adjust text-orange'></i>
                                Orange
                            </a>
                            <a href="#" data-change-to="contrast-purple"><i class='icon-adjust text-purple'></i>
                                Purple
                            </a>
                            <a href="#" data-change-to="contrast-green"><i class='icon-adjust text-green'></i>
                                Green
                            </a>
                            <a href="#" data-change-to="contrast-muted"><i class='icon-adjust text-muted'></i>
                                Muted
                            </a>
                            <a href="#" data-change-to="contrast-fb"><i class='icon-adjust text-fb'></i>
                                Facebook
                            </a>
                            <a href="#" data-change-to="contrast-dark"><i class='icon-adjust text-dark'></i>
                                Dark
                            </a>
                            <a href="#" data-change-to="contrast-pink"><i class='icon-adjust text-pink'></i>
                                Pink
                            </a>
                            <a href="#" data-change-to="contrast-grass-green"><i
                                    class='icon-adjust text-grass-green'></i>
                                Grass green
                            </a>
                            <a href="#" data-change-to="contrast-sea-blue"><i class='icon-adjust text-sea-blue'></i>
                                Sea blue
                            </a>
                            <a href="#" data-change-to="contrast-banana"><i class='icon-adjust text-banana'></i>
                                Banana
                            </a>
                            <a href="#" data-change-to="contrast-dark-orange"><i
                                    class='icon-adjust text-dark-orange'></i>
                                Dark orange
                            </a>
                            <a href="#" data-change-to="contrast-brown"><i class='icon-adjust text-brown'></i>
                                Brown
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

