<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testmobiledatabase"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="vocLIrS7d3C4mWHdCOUuLxx3" />

        <activity
            android:name="com.yg.ui.login.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/welcome_animation_style" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yg.ui.ClientUserUnitTest"
            android:label="@string/title_activity_client_user_unit_test" >
        </activity>
        <activity
            android:name="com.yg.ui.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.yg.ui.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.yg.ui.Forget"
            android:label="@string/title_activity_forget" >
        </activity>
        <activity
            android:name="com.yg.ui.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.yg.ui.friendlist.FriendListActivity"
            android:label="@string/title_activity_friend_list" >
        </activity>
        <activity
            android:name="com.yg.ui.recentdialog.RecentDialogActivity"
            android:label="@string/title_activity_recent_dialog" >
        </activity>
        <activity
            android:name="com.yg.ui.login.LoginGuideActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/login_animation_style" >
        </activity>
        <activity
            android:name="com.yg.ui.signup.SignupActivity"
            android:label="@string/title_activity_signup">
        </activity>
        <activity
            android:name="com.yg.ui.dialog.DialogActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yg.ui.friendlist.FriendDetailActivity"
            android:label="@string/title_activity_friend_detail" >
        </activity>
        <activity
            android:name="com.yg.image.select.ui.SelectImageActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yg.image.filter.ui.FilterActivity"
            android:label="title_activity_filter" >
        </activity>
        <activity
            android:name="com.tp.ui.PublicActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.tp.ui.TextPostCommentListActivity" >
        </activity>
        <activity android:name="com.tp.ui.ImagePostActivity" >
        </activity>
        <activity android:name="com.tp.ui.SendPostActivity" >
        </activity>
        <activity android:name="com.tp.ui.MyselfPostActivity" >
        </activity>
        <activity android:name="com.lj.shake.ActivityShake" />
        <activity android:name="com.lj.settings.ActivitySettings"/>
        <activity android:name="com.lj.setting.userinfo.ActivitySexSetting" />
        <activity android:name="com.lj.setting.userinfo.ActivityAgeSetting" />
        <activity android:name="com.lj.setting.userinfo.ActivityHometownSetting" />
        <activity android:name="com.lj.setting.userinfo.ActivityPasswordSetting" />
        <activity android:name="com.lj.eightpuzzle.ActivityEightPuzzleGame" />
        <activity android:name="com.lj.songpuzzle.ActivitySongPuzzle" />
        <activity android:name="com.lj.bazingaball.ActivityBazingaBall" android:noHistory="true" />
    </application>

</manifest>